@import "C:/\67Werx\\stylewerx\\src\\swx.less";
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&family=Open+Sans:wght@400;700&display=swap');


@fs: 1.5rem;
@fs-small: .5em;
@lh: 1.5;
@base-s: (@fs*@lh);
@ipw-mod: 1.5;
@ip-w: (@base-s * @lh);


@panel: hsl(30, 15%, 80%);
@tool: hsl(0, 0, 90%);
@btn: hsl(0, 0, 80%);
@fc: hsl(190, 25%, 35%);

@pad: 0;
@gap: 0;

@full-w: ((@ip-w + (@base-s * 2)) + ((@gap * 2) + (@pad * 2)));
@stack-w: (@full-w - @base-s);
@halfbtn-w: (@stack-w - (@base-s/2));

@bts-y-h: ((@base-s/2) + (@pad * 2) + @gap);


body, section, div, h6, button, code, input {
	border: 0;
	margin: 0;
	outline: 0;
	padding: 0;
}

body {
	font-family: 'Barlow';
	font-size: @fs;
//	line-height: @lh;
	background: #DDE;
	display: flex;
	flex-flow: column wrap;
	align-items: center; 
	gap: 2rem;
}


[class^="wxi-"] {
	display: flex;
	font-size: inherit;

	&::before {
		display: flex;
    	margin: auto;
	}
    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
}

[type=number] {
	-moz-appearance: textfield;
	appearance: textfield
}

section {
	display: flex;
	width: 40%;
	flex-flow: row wrap;
	#jc.c();
	align-items: center;
	column-gap: 1rem;

	& h6 {
		font-size: .8em;
		flex: 1 0 100%;
		#text.center();
		line-height: 2;
	}

	&.row-c-nogap {
		
		column-gap: 2px;

		& label {
			display: flex;
			#jc.c();
			font-size: 1rem;
			width: 100%;
		}
	}
}


input {
	display: flex;
	font-family: "Bebas Neue";
	font-size: @fs;
//	font-weight: bold;
	flex: 1;
	height: @base-s;
//	line-height: @lh;
	text-align: center;
	user-select: none;
}

button {
	user-select: none;
	cursor: pointer;
	&:disabled {
		#frame.in.all(.25rem, red);
	}
}

.twx-stepper {
	display: flex;
	height: @base-s;

	& > input {
		width: @ip-w;
	}

	& > button {
		flex: 1;
	}
}

.btns-x {
	width: @full-w;

	&.btns-split {
		.setOrder(2, 1, 3);
	}

	&.btns-left {
		.setOrder(3, 1, 2);
	}

	&.btns-right {
		.setOrder(1, 2, 3);
	}

	&.btns-half {
		width: @stack-w;
		font-size: @fs-small;
	}
}

.btns-y {

	flex-flow: column wrap;
	align-items: stretch;
	width: @stack-w;

	& > button {
		height: (@base-s / 2);
		width: @base-s;
		font-size: @fs-small;
	}

	&.btns-half {
		width: @halfbtn-w;
		& > button {
			width: (@base-s/2);
		}
	}

	&.btns-left {
		.setOrder(3, 2, 1);
	}

	&.btns-right {
		.setOrder(1, 3, 2);
	}
}

.stepper-y {
	#flex.col();
	#jc.str();
	height: (@base-s * 2);
	width: @base-s;

	&.stepper-dub-w {
		width: (@base-s * 2);
	}
	& > input {
		order: 2;
		width: 100%;
		flex: 2;
	}

	& > button {
		font-size: @fs-small;
		flex: 1;
//		height: (@base-s / 2);
	}

	& > .btn-dec {
		order: 3;
	}

	& > .btn-inc {
		order: 1;
	}
}

.setOrder(@input: 1; @btn-dec: 2; @btn-inc: 3) {

	& > input {
		order: @input;
	}

	& > .btn-dec {
		order: @btn-dec;
	}

	& > .btn-inc {
		order: @btn-inc;
	}
}

.stepper-base {

	&.btns-split {
		& > .btn-dec {
			
		}
	
		& > .btn-inc {
			
		}
	}

	&.btns-left {
		& > input {
		}
		& > .btn-dec {
			
		}
	
		& > .btn-inc {
			
		}
	}

	&.btns-right {
		& > input {
			
		}
		& > .btn-dec {
			
		}
	
		& > .btn-inc {
			
		}
	}

	&.btns-y > .btn-inc {
		
	}

	
}

#stepYear {

}

.stepper-2 {
	#box.border();
	#bg.add(#E3E3E3);
	.bs(0 0 1px 0 @fb-40);
	.bs(0 2px 2px -1px @fb-25);

	& > input, button {
	}

	& > input {
		#bg.add(@t);
	}

	& > button {
		#bg.add(#FFF);
	}
}
